
.cache
.gimp-2.8
.gnupg
.icons/default
.local/share
.moc
.moonchild productions/pale moon
.mozilla/firefox
.pki/nssdb
.ssh
.steam
Desktop
Downloads
Pictures
dev/pysnake

.gtkrc-2.0
.lesshsQ
.lesshst
.makepkg.conf
.nanorc
.profile
.pulse-cookie
.steampath
.steampid
.vim_mru_files
.viminfo
.vimrc
browser.txt
test
todo

programs
.bash_logout
.archey3.cfg
.xsession-errors.xsession-errors
.config/spotify/Users/spy_net-user
.zhistory
.xsession-errors
.config/pulse
.config/bashtop
.config/dmenu-recent
.config/pcmanfm/default
.config/ranger
.xsession-errors.old